/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
/* line 5, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -32px;
}
/* line 18, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#root #root-footer {
  height: 32px;
}

/* line 20, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#main-footer {
  clear: both;
  position: relative;
  height: 32px;
}

/* line 44, ../sass/screen.scss */
body {
  min-width: 310px;
  max-width: 800px;
  margin: auto;
  background-color: #f0f0f0;
}

/* line 51, ../sass/screen.scss */
header {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 4em;
  padding-top: 10px;
  text-align: center;
  background-color: white;
  border-bottom: solid 3px;
}
/* line 58, ../sass/screen.scss */
header span {
  position: relative;
  bottom: 30px;
}
/* line 62, ../sass/screen.scss */
header img {
  max-height: 120px;
}

/* line 67, ../sass/screen.scss */
a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

/* line 75, ../sass/screen.scss */
.standard-container {
  margin-top: 15px;
  border-bottom: solid 3px;
  background-color: white;
  padding: 5px;
}
/* line 80, ../sass/screen.scss */
.standard-container img {
  max-width: 50%;
}

/* line 85, ../sass/screen.scss */
.headline {
  background-color: rgba(216, 216, 216, 0.8);
  border-radius: 5px;
}

/* line 91, ../sass/screen.scss */
.image-go-container img {
  max-width: 50%;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 97, ../sass/screen.scss */
.image-go-container .go {
  margin-top: 10px;
  line-height: 200px;
  width: 48%;
}

/* line 104, ../sass/screen.scss */
.go {
  margin-top: 10px;
  font-size: 5em;
  width: 48%;
  text-align: center;
  vertical-align: top;
  float: right;
  background-color: rgba(176, 168, 131, 0.7);
  border-radius: 25px;
  cursor: pointer;
  line-height: 200px;
}
/* line 116, ../sass/screen.scss */
.go:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IwYTg4MyIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(#ffffff, #b0a883);
  background-image: -webkit-radial-gradient(#ffffff, #b0a883);
  background-image: radial-gradient(#ffffff, #b0a883);
}

/* line 124, ../sass/screen.scss */
#debate-timer-container .go {
  line-height: 400px;
}

/* line 129, ../sass/screen.scss */
#debate-timer-headline {
  font-family: 'Lobster Two', cursive;
}

/* line 133, ../sass/screen.scss */
#ezextemp-headline {
  background-color: white;
  border-bottom: solid 1px;
  border-radius: 0;
}
/* line 137, ../sass/screen.scss */
#ezextemp-headline img {
  max-height: 80px;
  max-width: 100%;
}

/* line 144, ../sass/screen.scss */
#ezjudges-headline {
  background-color: #9fb8ca;
  padding: 5px 0 20px 20px;
  border-radius: 5px;
}
/* line 149, ../sass/screen.scss */
#ezjudges-headline span {
  font-size: 5em;
  font-family: 'Didact Gothic', sans-serif;
  vertical-align: top;
}

/* line 158, ../sass/screen.scss */
#ezverify-headline {
  background-color: white;
  border-bottom: solid 1px;
  border-radius: 0;
  margin-bottom: 5px;
}
/* line 163, ../sass/screen.scss */
#ezverify-headline img {
  max-height: 131px;
  max-width: 100%;
}

/* line 174, ../sass/screen.scss */
h1 {
  font-size: 4em;
}

/* line 177, ../sass/screen.scss */
h2 {
  font-size: 3em;
}

/* line 186, ../sass/screen.scss */
footer {
  background-color: #d8d8d8;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
/* line 192, ../sass/screen.scss */
footer img {
  height: 28px;
  position: relative;
  top: 3px;
}
