/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import "compass/css3";


// Colors

$sand: rgb(176,168,131);
$light-sand: lighten($sand, 30%);
$ezgreen: rgb(130,193,44);
$red: rgb(204,106,97);
$grey: rgb(216,216,216);
$light-grey: rgb(240,240,240); 
$almost-white: rgb(248,248,248);
$trans-white: rgba(255,255,255,0.3);
$trans-sand: rgba(176,168,131,0.7);
$trans-grey: rgba(216,216,216,0.8);
$trans-ezgreen: rgba(130,193,44,0.5);
$trans-red: rgba(204,106,97,0.5);
$ezjudges-blue: rgb(159,184,202);

// Settings

$standard-radius: 10px;
$small-radius: 5px;

// Fonts ---------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);


// Compass Sticky Footer ------------------------------------

@include sticky-footer( 32px, "#root", "#root-footer", "#main-footer");

// Rules for standard elements ------------------------------
 
 body {
 	min-width: 310px;
 	max-width: 800px;
	margin: auto;
	background-color: $light-grey;
}

header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 4em;
	padding-top: 10px;
	text-align: center;
	background-color: white;
	border-bottom: solid 3px;
	span {
		position: relative;
		bottom: 30px;
	}
	img {
		max-height: 120px;
	}
}

a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

// Class rules

.standard-container {
	margin-top: 15px;
	border-bottom: solid 3px;
	background-color: white;
	padding: 5px;
	img {
		max-width: 50%;
	}
}

.headline {
	background-color: $trans-grey;
	border-radius: 5px;
}

.image-go-container {
	img {
		max-width: 50%;
		margin-left: 5px;
		margin-top: 5px;
		// margin: auto;
	}
	.go {
		margin-top: 10px;
		line-height: 200px;
		width: 48%;
	}
}

.go {
	margin-top: 10px;
	font-size: 5em;
	width: 48%;
	text-align: center;
	vertical-align: top;
	float: right;
	background-color: $trans-sand;
	border-radius: 25px; // $standard-radius;
	cursor: pointer;
	line-height: 200px;

	&:hover {
	  @include background-image( radial-gradient(white, $sand));
	}
}

// ID Rules

#debate-timer-container {
	.go {
	line-height: 400px;
	}
}

#debate-timer-headline {
	font-family: 'Lobster Two', cursive;
}

#ezextemp-headline {
	background-color: white;
	border-bottom: solid 1px;
	border-radius: 0;
	img {
		max-height: 80px;
		max-width: 100%;

	}
}

#ezjudges-headline {
	background-color: $ezjudges-blue;
	padding: 5px 0 20px 20px;
	border-radius: $small-radius;

	span {
		font-size: 5em;
		font-family: 'Didact Gothic', sans-serif;
		vertical-align: top;

	}
	
}

#ezverify-headline {
	background-color: white;
	border-bottom: solid 1px;
	border-radius: 0;
	margin-bottom: 5px;
	img {
		max-height: 131px;
		max-width: 100%;

	}
}



// Header and Footer for All Pages -----------------------------------------------

h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}




// Footer

footer {
	background-color: $grey;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;

	img {
		height: 28px;
		position: relative;
		top: 3px;
	}
}

