/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import "compass/css3";


// Colors

$sand: rgb(176,168,131);
$light-sand: lighten($sand, 30%);
// $green: rgb(97,127,102);
$ezgreen: rgb(130,193,44);
$red: rgb(204,106,97);
$grey: rgb(216,216,216);
$white: rgb(224,224,224);
$trans-white: rgba(255,255,255,0.3);
$trans-sand: rgba(176,168,131,0.7);
$trans-grey: rgba(216,216,216,0.8);
// $trans-green: rgba(97,127,102,0.5);
$trans-ezgreen: rgba(130,193,44,0.5);
$trans-red: rgba(204,106,97,0.5);

// Settings

$standard-radius: 10px;
$small-radius: 5px;

// Fonts ---------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(http://fonts.googleapis.com/css?family=Bitter);
// @import url(http://fonts.googleapis.com/css?family=Lato);


// Compass Sticky Footer ------------------------------------

@include sticky-footer( 32px, "#root", "#root-footer", "#main-footer");

// Body ---------------------------------------------------------
 
 body {
 	min-width: 300px;
 	max-width: 1100px;
	margin: auto;
	min-height: 300px;
	// background-color: $trans-grey;
}

img {
 	max-width: 100%;
}

#debate-timer-container {
	// background-image: image-url('hourglass-556x834-2x3.jpg');
	// background-size: cover;
	// background-repeat: no-repeat;
	width: 90%;
	margin-left: 5%;
	height: 100%;

	// position: absolute;
	img {
		padding-bottom: 10px;
		border-bottom: solid 5px;
	}
}

#ezjudges-container {
	background-color: white;
	text-align: center;

	width: 90%;
	margin-left: 5%;
	height: 100%;
	position: relative;
	img {
		margin: auto;
		display: block;
	}
}


// Header and Footer for All Pages -----------------------------------------------

h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}

.headline {
	background-color: $trans-grey;
	border-radius: 5px;
}

#debate-timer-headline {
	font-family: 'Lobster Two', cursive;
}

#ezjudges-headline {
	margin-top: 30px;
}


// Footer

footer {
	background-color: $grey;
	border-radius: 5px;
	text-align: center;

	img {
		height: 28px;
		position: relative;
		top: 2;
	}
}

// Anchor tags

a {
	color: black;
	text-decoration: none;

}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


// Call to action button -----------------------------------------------

#go-button {
	font-family: Bitter, Serif;
	font-size: 5em;

	width: 50%;
	max-width: 500px;
	top: 50%;
	// margin: 30% 0 0 5%;
	position: absolute;

	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
	background-color: $trans-sand;
	border-radius: $standard-radius;
	cursor: pointer;

	&:hover {
	  @include background-image( radial-gradient(white, $sand));
	}
}

#download-button {
	margin-top: 30px;
	width: 80%;
	margin-left: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-bottom: 30px;

	background-color: $trans-ezgreen;
	border-radius: $standard-radius;
	cursor: pointer;

	&:hover {
	  @include background-image( radial-gradient(white, $ezgreen));
	}
}

@media screen and (min-width: 600px) {

	#debate-timer-container {
		width: 45%;
		margin-left: 2.5%;
		float: left;
		img {
			padding-bottom: 0;
			border-bottom: none;
		}
		// padding: 1%;
		border-right: solid 5px;
		padding-right: 5px;
		margin-right: 5px; 
	}


	#go-button {
		width: 25%;
	}

	#ezjudges-container {
		width: 45%;
		margin-left: 0;
		// left: 50%;
		float: left;
	}	

	#ezjudges-headline {
		margin-top: 0;
	}
}

	